@import "config";

.navbar {
  padding: 0;
  margin: 0;

  &__logo {
    @include media-lg {
      @extend .col-lg-2;
      padding-left: 1.5em;
    }
  }

  &__main {
    @include media-lg {
      @extend .col-lg-8;
    }
  }

  &__search {
    padding: 0px 10%;
    margin: 0;
    @include media-lg {
      @extend .col-lg-2;
      padding: 0;
      padding-right: 1.5em;
    }
  }

  &-toggler {
    box-shadow: none !important;
    border: none !important;
  }

  &-nav {
    font-family: "Bebas Neue", sans-serif;

    .btn {
      font-size: 1.25em;
      // color: red;
    }
  }

  a.navbar-brand {
    font-family: "Bebas Neue", sans-serif;
  }

  a.menu-item {
    font-family: "Bebas Neue", sans-serif;
  }
}
