@import "config";

.navbar {
  &__logo {
    @include media-lg {
      @extend .col-lg-2;
    }
  }

  &__main {
    @include media-lg {
      @extend .col-lg-8;
    }
  }

  &__search {
    @include media-lg {
      @extend .col-lg-2;
    }
  }

  &-toggler {
    box-shadow: none !important;
    border: none !important;
  }

  &-nav {
    font-family: "Bebas Neue", sans-serif;

    .btn {
      font-size: 1.25em;
      // color: red;
    }
  }

  a.navbar-brand {
    font-family: "Bebas Neue", sans-serif;
  }

  a.menu-item {
    font-family: "Bebas Neue", sans-serif;
  }
}
