@import "config";

.navbar__logo {
  @include media-lg {
    @extend .col-lg-2;
  }
}
.navbar__main {
  @include media-lg {
    @extend .col-lg-8;
  }
}
.navbar__search {
  @include media-lg {
    @extend .col-lg-2;
  }
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}

a.navbar-brand {
  font-family: "Bebas Neue", sans-serif;
}

a.menu-item {
  font-family: "Bebas Neue", sans-serif;
}

.navbar-nav {
  font-family: "Bebas Neue", sans-serif;

  .btn {
    font-size: 1.25em;
    // color: red;
  }
}
