$primary: #3f51b5;
$secondary: rgb(245, 20, 100);
// $danger: #dd0000;
// $success: lime;
// $warning: orange;
// $info: aqua;
// $body-bg: #f3f3f0;

@import "./config";
@import "./fonts";
@import "./variables";
@import "./Accordion";
@import "bootstrap";

@function weight($weight-name) {
  @return map-get($map: $font-weights, $key: $weight-name);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

.main {
  background-color: "#f2f2f2";
}

.MuiToolbar-root {
  background-color: rgb(230, 230, 230) !important;
  padding-bottom: 0.75rem !important;
}
