@import "config";

.bar-graph {
  position: fixed !important;
  right: -5rem;
  top: 1rem;
  z-index: 1021;
  @include transition-fast;

  &__shadow {
    right: 1rem;
  }
  &__group {
    right: 1rem;
  }
  &__text {
    right: 1rem;
  }
  &__bar {
    @include transition-fast;
    fill: black;
  }

  &__bar:hover {
    @include transition-fast;

    right: 1rem;
    fill: red;
  }
  &__item-group {
    @include transition-slow;
  }

  // &__bagroup {
  //   @include transition-fast;
  // }
}

.enter {
  @include transition-slow;
  transition: transform 3s ease-in-out;
  transform: rotate(144);
  fill-opacity: 100%;
  fill: #101820FF;
}

.exit {
  @include transition-slow;
  transition: transform 3s ease-in-out;
  fill-opacity: 10%;
  fill: #FEE715FF;
}

.bar-graph__item-group {
  @include transition-slow;
}
