@import "config";

.pullup-tab {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 -10px 8px rgba(52, 73, 94, 0.2);
  z-index: 1021;

  text-align: center;
  // height: 70%; // Modified in PullUpTab.tsx

  &-flex-container {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  &-indicator {
    // height: 50px; // Modified in PullUpTab.tsx
    display: flex;
    background-color: rgba(52, 73, 94, 0.2);
    width: 100%;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    // box-shadow: 0 10px 8px rgba(52, 73, 94, 0.2);
  }

  &-content {
    flex-grow: 1;
    // overflow-y: scroll;
    // overflow-x: scroll;
    // height: 100%; // Modified in PullUpTab.tsx
  }

  &-overflow-content {
    height: 200px;
  }
}
