@import "config";

.recipeDashboard__button {
  position: fixed !important;
  right: -5rem;
  top: 0.78rem;
  z-index: 1021;
  @include transition-ease-in-out;

  &.visible {
    right: 1rem;
    transition-delay: 0.25s;
  }
}
